*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
DEVELOPMENT_PLAN.md
Zeus Tactical Swap
zeus_15_N_elem
.idea
.kotlin
.claude
Untitled
app/release
